hockey.runs/*
!hockey.runs/.gitkeep
hockey.srcs/utils_1/
*.wdb
*.log
*.jou
*.pb
*.dcp
*.str

hockey.sim/
hockey.runs/
hockey.cache/
hockey.gen/
hockey.hw/
hockey.ip_user_files/
hockey.srcs/utils_1/
.Xil/